<div class="container">
  <div class="alert alert-primary" *ngIf="message">{{message}}</div>
  <h1>My todos</h1>
<table class="table table-stripped">
  <thead>
    <tr>
      <!-- <th>id</th> -->
      <th>desc</th>
      <th>Target Date</th>
      <th>Is compleated?</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of todos">
      <!-- <td>{{t.id}}</td> -->
      <td>{{t.description}}</td>
      <td>{{t.targetDate | date}}</td>
      <td>{{t.done}}</td>
      <td>
        <button (click)="updateTodo(t.id)" class="btn btn-secondary">Update Todo</button>
        </td>
        <td>
          <button (click)="deleteTodo(t.id)" class="btn btn-warning">Delete Todo</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
